---
layout: default
title: Landscape Design Tips
---
<div class="blurb">
	<h1><img src="/assets/images/tree-100.JPG" style="vertical-align: middle;" width="100px"/><span style="vertical-align: middle;">Landscape Design Tips</span></h1>
	<p></p>
	<p></p>
	<p>Welcome to Landscape Design Tips. Here I shall try to provide a clear set of guides for those designing outdoor spaces. numerous areas, including gardens, open spaces, playareas.</p>
	<p>I shall try to regular posts when I can.</p>
	<p></p>
	<ul class="posts">

	  {% for post in site.posts %}
	    <li><p1><span>{{ post.date | date_to_string }}</span> - <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>{{post.picture}}</p1></li>
	  {% endfor %}
	</ul>	
	
	<ul class="post-list">
	    {% for post in site.posts %}
	      <li>
		<h2>
		  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		</h2>
		<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }},</span>
		<span class="post-meta">por</span>
		<span class="post-meta">{{ post.author }}</span>
	      </li>


	      <img src="{{ site.baseurl }}/assets/images/{{ post.image }}">



	      {{ post.excerpt }}
	      <a class="btn btn-default" href="{{ post.url | prepend: site.baseurl }}">Continuar lendo</a>
	    {% endfor %}
	  </ul>



</div><!-- /.blurb -->

