<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/usefullinks">Useful Links</a></li>
				<li><a href="/about">About</a></li>
	    		</ul>
			<hr style="border: 1px solid #d5d5d5;" />
			</nav>
			<div class="container">
			
			{{ content }}		
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><p style="color:#d5d5d5">Landscape Design Tips</p></li>
				</ul>
			</footer>
		</body>
	</html>
<p style="color:red">This is a paragraph.</p>
